#Systemd Moonraker Service

[Unit]
Description=Systemd Moonraker Service
Documentation=https://moonraker.readthedocs.io/
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
Environment=MOONRAKER_CONF=/home/daveandris/klipper_config/moonraker.conf
Environment=MOONRAKER_LOG=/home/daveandris/klipper_logs/moonraker.log
Type=simple
SupplementaryGroups=moonraker-admin
User=daveandris
RemainAfterExit=yes
ExecStart=/home/daveandris/moonraker-env/bin/python /home/daveandris/moonraker/moonraker/moonraker.py -c ${MOONRAKER_CONF} -l ${MOONRAKER_LOG}
Restart=always
RestartSec=10